<ul class="latestList">
    <!--h5>posts</h5-->
    <li>{{#each sidebar.popular}}
        <a href="/post/{{uniqueId}}"><img src="/public/upload/{{filename}}" class="small img"></a>
        {{/each}}
    </li>
</ul>
