<ul class="latestList">
  <!--h5>stats</h5-->
  <li>Images : <span>{{sidebar.stats.images}}</span></li>
  <li>Comments: <span>{{sidebar.stats.comments}}</span></li>
  <li>Views: <span>{{sidebar.stats.views}}</span></li>
  <!--li>Likes: <span>{{sidebar.stats.likes}}</span></li-->
</ul>
